@font-face{
    src: url(../fonts/Nunito-Regular.ttf);
    font-family: Nunito-regular;
}
@font-face{
    src: url(../fonts/Nunito-Bold.ttf);
    font-family: Nunito-bold;
}
@font-face{
    src: url(../fonts/Nunito-SemiBold.ttf);
    font-family: Nunito-semi;
}
@font-face{
    src: url(../fonts/Nunito-Light.ttf);
    font-family: Nunito-light;
}
@font-face{
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: Roboto-bold;
}
a {
    text-decoration: none;
}
h1 {
    font-family: Nunito-bold;
    font-size: 50px;
    line-height: 1.1;
}
p{
    line-height: 1.5;
    font-size: 16px;
}

* {
    font-family:Nunito-regular;
    box-sizing: border-box;
    margin: 0;
    padding: none;
}

.row {
    margin:0
}
 
.header {
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    /* height: 90px; */
    z-index:99999;
    background-color: #fff;
    transition: .2s all;
} 
.nav-fixed {
    height: 70px;
    transition: .2s all;
} 

.header .container .navbar-brand{
    color:#dc4f72;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.header .container .navbar .nav-link{
    color:#000;
    line-height: 0.5;
    position:relative;
}
.header .container .navbar .dropdown a{
    color:#000;
    text-decoration: none;
}
.header .container .navbar .dropdown i{
    border:0;
}
.header .container .navbar .dropdown .dropdown-menu .dropdown-item{
    color:#000;
    position:relative;
}
.header .container .navbar .nav-link::after,
.header .container .navbar .dropdown .dropdown-menu .dropdown-item::after,
.header .container .navbar .dropdown-toggle::after{
    content: "";
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: #dc4f72;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    transition: all .3s;
}
.header .container .navbar .dropdown .dropdown-menu .dropdown-item::after{
    left: 1.5rem;
}
.header .container .navbar .nav-link:hover::after,
.header .container .navbar .dropdown-toggle:hover::after {
    width: 40%;
}
.header .container .navbar .dropdown a.dropdown-item:hover::after {
    width: 20%;
}
.header .container .navbar .dropdown a:hover,
.header .container .navbar .dropdown .dropdown-menu a:hover,
.header .container .navbar .nav-link:hover{
    background:transparent;
    color: #dc4f72;
    transition: 0.4s all;
}

.header .container .navbar a.active{
    color:#dc4f72;
}
.header .container .navbar .dropdown .dropdown-toggle::after {
    border:none;
    left: 0.3rem !important;
    line-height: 0.5;
}
.header .container .navbar .dropdown-menu{
    margin-left:-3rem;
}
.header .container .navbar .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 52%;
    z-index: 999;
}

.header .navbar .btn,
.banner .container .content .btn{
    border:1px solid #dc4f72;
    font-weight: 700;   
    color:#dc4f72;
    font-size: 14px;
}
.header .navbar .btn:hover,
.banner .container .content .btn:hover{
    background-color: #dc4f72;
    color:#fff;
} 

.banner{
    background:url("../image/banner.jpg") no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    padding-top:8rem;
}
.banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.940);
  }
.banner .container .content {
      z-index: 10;
}
.banner .container .content p{
    font-size: 20px;

}
.banner .container .img{
    transform: rotate(180deg);
}
.services {
    padding: 3rem 0;
}
.services .container .content p:first-child{
    font-weight: 600;
    color:#dc4f72;
    line-height: 0.1;
}
.services .container .content h1{
    font-size: 45px;
    margin-bottom:1rem;
    font-weight: 300;;
}
.services .container .content p:last-child{
    padding: 0 8rem;
    margin-bottom: 2rem;
}
.services .container .list-item .item .info {
    background-color: #F7F9FC;
    border:0;
    border: 1px solid #F7F9FC;
    transition: 0.3s all;
}
.services .container .list-item .item .info:hover {
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
    transition: 0.3s all;
    cursor:pointer;
}

.services .container .list-item .item .info h1 {
    font-size: 25px;
    line-height: 3;
}

.about{
    background-color: #F7F9FC;
    padding: 5rem 0;
}
.about .container .content p:first-child{
    font-weight: 600;
    color:#dc4f72;
    line-height: 0.1;
}

.about .container .content h1{
    font-size: 35px;
    margin-bottom:1rem;
    font-weight: 300;;
}
.about .container .content p:nth-child(3){
    margin-top:1.5rem;
    margin-bottom: 2rem;
}
.about .container .content .btn{
    color:#fff;
    background-color: #dc4f72;
    padding: 1rem 2.5rem;
}
.about .container .content .btn:hover{
    background-color:#d62f58;
}
.about .container .image img{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s all;
}
.about .container .image img:hover{
transform: translateY(-0.5rem);
transition: 0.3s all;
}
.about .container .list-item {
    margin-top: 2rem;
}
.about .container .list-item .item .content{
    background-color: #fff;
    border: 1px solid #eee;
    transition: 0.3s ease;
    box-shadow:  1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.about .container .list-item .item .content:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease;
}

.about .container .list-item .item .content h4{
    font-weight: 700;
    font-size: 17px;
}

.about .container .list-item span.counter {
    font-family: Roboto-bold;
    color: #dc4f72;
    font-weight: 900;
    font-size: 50px;
    line-height:1;
}
.about .container .list-item p {
    margin-top: 1rem;
}

.about-2 {
background:url("../image/bg.jpg") no-repeat center center;
background-size:cover;
background-attachment: fixed;
position: relative;
padding:8rem 0;
}

.about-2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background-image: linear-gradient(to right, #000000b7, #00000047)
  }

.about-2 .container .list-item .item h1{
    color:#fff;
    font-size: 30px;
}

.about-2 .container .list-item .item p {
    color:#fff;
    font-weight: 300;
    margin: 2rem 0;
}

.about-2 .container .list-item .item .btn{
    background-color: #fff;
    color:#000;
    padding: 1rem 2rem;
    font-weight: 600;
}
.blog {
    padding: 4rem 0;
}
.blog .container .content p:first-child{
    color: #dc4f72;
    font-weight: 900;
    line-height: 0.1;
}
.blog .container .content p:last-child{
    padding: 1rem 8rem 2rem 8rem;
}
.blog .container .blog-list .blog-item-1 .info,
.blog .container .blog-list .blog-item-2 .info,
.blog .container .blog-list .blog-item-3 .info{
    transition: 0.6s all;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 0.5rem;
}

.blog .container .blog-list .blog-item-1 .info:hover,
.blog .container .blog-list .blog-item-2 .info:hover,
.blog .container .blog-list .blog-item-3 .info:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
    transition: 0.6s all;
    }

.blog .container .blog-list .blog-item-1  .info .image,
.blog .container .blog-list .blog-item-2  .info .image,
.blog .container .blog-list .blog-item-3  .info .image{
    position: relative;
}
.blog .container .blog-list .blog-item-1  .info .image img,
.blog .container .blog-list .blog-item-2  .info .image img,
.blog .container .blog-list .blog-item-3  .info .image img{
    filter: grayscale(100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: .6s all;
}

.blog .container .blog-list .blog-item-1 .info:hover .image img,
.blog .container .blog-list .blog-item-2 .info:hover .image img,
.blog .container .blog-list .blog-item-3 .info:hover .image img{
    filter: grayscale(0%);
    transition: .6s all;
}

.blog .container .blog-list .blog-item-1  .info .image::before{
    content:' 26 Jan, 2020';
    position: absolute;
    top:0;
    right:0;
    background-color: #dc4f72;
    color: #fff;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    font-weight: 600;
    z-index:100;
}
.blog .container .blog-list .blog-item-2  .info .image::before{
    content:'15 Apr, 2020';
    position: absolute;
    top:0;
    right:0;
    background-color: #dc4f72;
    color: #fff;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    font-weight: 600;
    z-index:100;
}
.blog .container .blog-list .blog-item-3  .info .image::before{
    content:' 25 Jun, 2020';
    position: absolute;
    top:0;
    right:0;
    background-color: #dc4f72;
    color: #fff;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    font-weight: 600;
    z-index:100;
}

.blog .container .blog-list .info h1{
    font-size: 20px;
}
.blog .container .blog-list .info a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.blog .container .blog-list .blog-item-1 .info:hover .blog-info a,
.blog .container .blog-list .blog-item-2 .info:hover .blog-info a,
.blog .container .blog-list .blog-item-3 .info:hover .blog-info a{
    color:#dc4f72;
}

.blog .container .blog-list .blog-item-1  .info .blog-info p:first-child{
    font-size:14px;
    color:#dc4f72;
    background-color: #FCDFE4;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
}
.blog .container .blog-list .blog-item-2  .info .blog-info p:first-child{
    font-size:14px;
    color:#13802E;
    background-color: #CCE6CC;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
}
.blog .container .blog-list .blog-item-3  .info .blog-info p:first-child{
    font-size:14px;
    color:#4200FF;
    background-color: #CCCCFF;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
}

.blog .container .blog-list .blog-info p:nth-child(3){
    font-weight: 300;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom:1rem;
}

.blog .container .blog-list .blog-info .btn{
    color: #dc4f72;
    font-weight: 600;
} 

.blog .container .blog-list .blog-info .btn i{
    font-size: 10px;
    transition: .2s all;
} 
.blog .container .blog-list .blog-item-1 .info:hover i,
.blog .container .blog-list .blog-item-2 .info:hover i,
.blog .container .blog-list .blog-item-3 .info:hover i{
    padding-left: .2rem;
    transition:  .2s all;
} 
.faq {
    background-color: #F7F9FC;
    padding: 5rem 0;
}

.faq .container .content p:first-child{
    color: #dc4f72;
    font-weight: 900;
    line-height: 0.1;
}
.faq .container .content p:last-child{
    padding: 1rem 8rem 2rem 8rem;
}
.faq .container .info .image .faq-image img{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s all;
}
.faq .container .info .image .faq-image img:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s all;
}

.faq .container .info .faq-accordion .accordion .card .card-header .btn{
    position: relative;
    font-size: 22px;
    font-weight: 400;
}

.faq .container .info .faq-accordion .accordion .card .card-header .btn i{
    font-size: 20px;
    position: absolute;
    top:0.6rem;
    right:0;
    transition: all .4s;
}
.faq .container .info .faq-accordion .accordion .card .card-header .collapsed i{
    transform: rotateX(180deg);
    transition: all .4s;
}

.faq .container .info .faq-accordion .accordion .card .card-body {
    margin-top:-1.5rem;
    font-size: 17px;
}

.project {
    padding: 5rem 0;
}

.project .container .content p:first-child{
    color: #dc4f72;
    font-weight: 900;
    line-height: 0.1;
}
.project .container .content p:last-child{
    padding: 1rem 8rem 4rem 8rem;
}
.project .container .nav-tabs {
    border-bottom: .25rem solid rgb(189, 189, 189);
}
.project .container .nav-tabs .nav-item{
    font-size: 30px;
    border:0;
    padding: 0 6.4rem 1rem 6.4rem;
    font-weight: 600;
    color:rgb(29, 29, 29);
    margin-bottom: -0.25rem;
}
.project .container .nav-tabs .nav-item.active{
    color:#d62f58;
    border-bottom:0.25rem solid #d62f58;
}
.project .container .tab-content .content h1{
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top:1rem;
}

.project .container .tab-content .content .btn{
    border-color:#dc4f72;
    color: #dc4f72;
    font-weight: 600;
    font-size: 15px;
}

.project .container .tab-content .content .btn:hover{
    border-color:#dc4f72;
    background-color: #dc4f72;
    color: #fff;
}

.project .container .tab-content .image img{
    transition: 0.3s all;
    max-width: 80%;
    margin-top: 1rem;
}
.project .container .tab-content .image img:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s all;
}
.project .project-accordion {
    display:none;
}
.testimonial {
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), 
    url("../image/b2.jpg");
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    padding:8rem 0;
}
    
.testimonial{
    padding: 5rem 0;
}
.owl-theme .owl-dots .owl-dot span {
    width: 3.5rem;
    height: .35rem;
    border-radius: 0;
    background-color: #fff;
}
.testimonial .container .owl-theme .owl-dots .owl-dot span:hover,
.testimonial .container .owl-theme .owl-dots .owl-dot.active span {
    background-color: #dc4f72;
}
.testimonial .container .content p:first-child{
    color: #dc4f72;
    font-weight: 900;
    line-height: 0.1;
}
.testimonial .container .content p:last-child{
    padding: 1rem 8rem 4rem 8rem;
}

.testimonial .container .owl-carousel .person{
    background-color: #fff;
    border-radius:8px;
}
.testimonial .container .owl-carousel .person .img-owl .img {
    width: 90px;
    height: 90px;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border:  0.25rem solid #dc4f72;
}
.testimonial .container .owl-carousel .person .message{
    position: relative;
}
.testimonial .container .owl-carousel .person .message i{
    font-size: 30px;
    color: #646464;
    opacity: 0.2;
    position: absolute;
    top: -5px;
    left: 5px;
}
.testimonial .container .owl-carousel .person .message p{
    font-size: 19px;
}
.testimonial .container .owl-carousel .person .message p:nth-child(3){
    color:#dc4f72;
}
.testimonial .container .owl-carousel .person .message p:nth-child(4){
    font-size: 15px;
    line-height:0.1;
}

.booking{
    padding: 5rem 0;
}

.booking .container .content p{
    padding: 1rem 8rem 2rem 8rem;
}

.booking .container .two-btn .btn-book-demo{
    border:1px solid #dc4f72;
    font-weight: 700;   
    color:#dc4f72;
    font-size: 16px;
}
.booking .container .two-btn .btn-get-started,
.booking .container .two-btn .btn-book-demo:hover{
    background-color: #dc4f72;
    color:#fff;
    font-size: 16px;
    font-weight: 700; 
} 
.footer {
    background-color: #F7F9FC;
    padding: 5rem 0;
}
.footer .container .content ul{
    list-style-type: none;
}
.footer .container .content h4 {
    font-weight:600;
    margin-bottom:1.5rem;
}
.footer .container .content ul li a{
    color:#646464;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
}
.footer .container .content ul li a:hover{
    color:#dc4f72;
}

.footer .container .content .form-newsletter{
    background-color: #fff;
    border-radius: 8px;
}
.footer .container .content .form-newsletter p{
    font-size: 20px;
}
.footer .container .content .form-newsletter input{
    padding: 1rem;
    width: 75%;
    border-radius: 5px;
    border:0;
    background-color: #F7F9FC;
    margin-bottom: 1rem;
}
.footer .container .content .form-newsletter input:focus{
    border:0;
}

.footer .container .content .form-newsletter .btn-form{
    background-color: #dc4f72;
    color:#fff;
    font-size: 16px;
    font-weight: 600; 
    border:0;
    width: 20%;
}
.footer .container .copyright i{
    color:#000;
}
.footer .container .copyright i:hover{
    color:#dc4f72;
}

.footer .container .copyright p{
    font-size: 18px;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding:0;
    }
    .header .container .navbar .nav-link{
        line-height: 1.5!important;
        font-size:16px!important;
    }
    .header .container .navbar .navbar-toggler{
       border:1px solid;
    }
    .header .container .navbar-toggler-icon span {
        color:#fff;
    }
    .header .container .navbar .nav-link{
        font-size: 16px;
        line-height: 1.7;
    }
    .header .navbar .btn{
        background-color: #fff!important;
        color: #d62f58!important;
        line-height: 1rem;
        margin-bottom: 2rem;
        margin-top:1.2rem;
        font-size: 15px!important;
    }
    .header .navbar .btn:hover{
        background-color: #d62f58!important;
        color: #fff!important;
    }
    .banner .container h1{
        font-size:40px;
    }
    .banner .container .img {
        width: 100%;
    }
    .services .container .content h1, 
    .blog .container .content h1, .faq .container .content h1,
    .project .container .content h1, .testimonial .container .content h1,
    .booking .container .content h1{
        font-size:30px;
    }
    .services .container .content p:last-child, .blog .container .content p:last-child, 
    .faq .container .content p:last-child, .project .container .content p:last-child, 
    .testimonial .container .content p:last-child, .booking .container .content p:last-child{
        padding: 0 1rem;
    }
    .about-2{
        padding: 4rem 1rem;
    }
    .faq .container .info .faq-accordion .accordion .card .card-header .btn{
        font-size: 18px;
    }
    .project .project-accordion{
        display: block;
    }
    .project .container .nav-tabs, .project .container .tab-content {
        display: none!important;
    }
    .project .project-accordion .card-body .content .btn {
        color: #d62f58;
        background-color: #fff;
        border-color: #d62f58;
    }
    .project .project-accordion .card-body .content .btn:hover {
        color: #fff;
        background-color: #d62f58;
        border-color: #d62f58;
    }
    .project .project-accordion .card .card-header .collapsed i {
        transform: rotateX(180deg);
        transition: all .4s;
    }
    .project .project-accordion .card .card-header .btn i {
        font-size: 20px;
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        transition: all .4s;
    }
    .testimonial .container .owl-carousel .person .img-owl {
        width: 31%;
        margin-bottom: 3rem;
    }
    .booking .container .two-btn .btn{
        padding: 1rem 2rem!important;
        margin: 0 1rem;
        font-size: 12px;
    }
    .booking .container .two-btn .btn-book-demo:hover{
        padding: 1rem 2rem!important;
        margin: 0 1rem;
        font-size: 12px;
    }
    .footer {
        padding: 3rem 0 ;
    }
    .footer .container .content h4 {
        font-size: 20px;
        margin-top: 1rem;
    }
    .footer .container .content ul li a{
        font-size: 15px;
    }
    .footer .container .content .form-newsletter p{
        font-size: 15px;
    }
 }
 @media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding:0;
    }
    .header .container .navbar .nav-link{
        font-size: 16px!important;
        line-height: 1.7;
    }
    .header .navbar .btn{
        background-color: #fff!important;
        color: #d62f58!important;
        line-height: 1rem;
        margin-bottom: 2rem;
        margin-top:1.2rem;
        font-size: 15px!important;
    }
    .header .navbar .btn:hover{
        background-color: #d62f58!important;
        color: #fff!important;
    }
    .banner .container .img {
        text-align:left;
    }
    .faq{
        padding: 3rem 0;
    }
    .project .container .nav-tabs, .project .container .tab-content {
        display: none!important;
    }
    .project .project-accordion{
        display: block;
    }
    .project .project-accordion .card .card-header .collapsed i {
        transform: rotateX(180deg);
        transition: all .4s;
    }
    .project .project-accordion .card .card-header .btn i {
        font-size: 20px;
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        transition: all .4s;
    }
 }
 @media (max-width: 991px) {
    .container {
        max-width: 100%;
        padding:0;
    }
    .header .container .navbar .nav-link{
        font-size: 16px!important;
        line-height: 1.7;
    }
    .header .navbar .btn{
        background-color: #fff!important;
        color: #d62f58!important;
        line-height: 1rem;
        margin-bottom: 2rem;
        margin-top:1.2rem;
        font-size: 15px!important;
    }
    .header .navbar .btn:hover{
        background-color: #d62f58!important;
        color: #fff!important;
    }
    .footer {
        padding: 3rem 0;
    }
    .footer .container .content h4{
        font-size: 18px;
    }
    .footer .container .content ul li a,
    .footer .container .content .form-newsletter p{
        font-size: 15px;
    }
    .footer .container .content .newsletter h4{
       margin-top: 1.5rem
    }
 }
 @media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding:0;
    }

    .faq .container .info .image .faq-image{
        position: sticky;
        top:80px;
    }
    .project .container .nav-tabs .nav-item {
        font-size: 20px;
        padding: 0 3rem 1rem 3rem;
    }

}
